body{
    background-color: #b13b1b;
    
}

.display-gif{
    
    width: 70%;
    border-radius: 5px;
    border: solid 2px black;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}